* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li:not(:last-child) {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px #ddd solid;
  margin-bottom: 1em;
}

button:hover {
  cursor: pointer;
}

a:link, a:visited {
  color: #277eee;
}